hr {
	width: 100%;
}
p, li {
	/*font-size: 16px;*/
}

.no-padding {
	padding: 0px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
/*Navigation Section*/

.navbar-collapse {
	padding: 0px;
}

.main_logo_image {
	padding: 2% 0px;
}

@media screen and (min-width: 768px){
	ul#naviMainList {
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	}
	#naviMainList > li {
	    width: 100%;
	    text-align: center;
	}

	ul#naviTopList {
	    width: 100%;
	    display: flex;
	    justify-content: flex-end;
	}
}
/*-------------------------------------------*/



/*Footer Section*/

.footer_navi {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;
}

.copy_right {
	text-align: center;
}
/*-------------------------------------------*/




/*Left side tabs*/

.your_container_tab > .panel-heading {
	display: flex;
	justify-content: space-between;
}
.ads_section {
	display: flex;
	justify-content: center;
}
/*-------------------------------------------*/

/*Slab List & Slab Card Section*/

.slab_card {
	padding: 5px;
}

.slab_card .media {
	display: flex;
	justify-content: space-around;
}
.slab_card .panel-body {
	padding: 5px;
}
.slab_card .media-left {
	padding-right: 0px;
	display: flex;
    align-items: center;
}

.slab_card .media-object {
    width: 70px;
    height: 50px;
    object-fit: cover;
}

.slab_card:hover > .panel-default {
	    box-shadow: 0px 0px 13px #85A9B8;
}

.search_by_name_container .input-group {
    position: relative;
    margin: 0 auto;
    padding: 35px 10px;
    max-width: 350px;
}

h3.panel-title {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
	.slab_list {
		max-width: 450px;
		margin: 0 auto;
	}
}
/*-------------------------------------------*/


/*Video Section */
.video_section {
	text-align: center;
}

.video_section > h2 {
	padding: 25px 0;
}
/*-------------------------------------------*/

/*Client Section */
.client_review_section > h2 {
	text-align: center;
	padding: 25px 0;
}
/*-------------------------------------------*/




/*HOT TO BUY PAGE*/
.tab-pane {
	text-align: center;
}

.tab-pane li {
	list-style-type: none;
}

.four_easy_steps {
	margin: 0 0 20px;
}

.four_easy_steps > .col-sm-12 {
	padding: 0;
    border: 1px solid #ddd;
    border-radius: 1%;
}


/*div#tab1 li, div#tab2 li {
    list-style-type: none;
}
div#tab1 > .left-section, div#tab2 > .left-section, div#tab3 > .left-section {
    text-indent: 10%;
}
*/
/*-------------------------------------------*/



/*SLABS PAGE*/
/*.all_slabs_with_dropdown {
	display: flex;
	justify-content: space-between;
}*/
.right_side_slabs .well-lg {
    text-align: right;
    margin-bottom: 0px;
}

.right_side_slabs .well-lg h4 {
	float: left;
}
.all_slabs_with_dropdown {
	margin: 10px
}
.all_slabs_with_dropdown p {
	display: inline;
}

.page_navigation {
	text-align: center;
}

/*-------------------------------------------*/



/*SUPPLIERS PAGE*/
.suppliers_card_list .card {
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 15px;
    box-shadow: 0px 0px 15px #ccc;
}
.suppliers_card_list img.card-img-top {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 75px;
    object-fit: cover;

}

.card-block {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-block > h4, .card-block > p {
	margin: 0px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.suppliers_card_list {
		padding: 5px;
	}
}
@media screen and (max-width: 600px){
	.suppliers_card_list {
		padding: 5px;
	}
}

@media screen and (max-width: 525px){
	.suppliers_card_list {
		width: 33.3%;
	}
}
@media screen and (max-width: 400px){
	.suppliers_card_list {
		width: 50%;
	}
}

/*-------------------------------------------*/

/*HELP PAGE*/
.list_of_questions > .panel.panel-default {
	margin-bottom: 20px;
}

/*-------------------------------------------*/

/*CONTACT US PAGE*/
.form-group {
	margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*width: 75%;*/	
}

.contact_info_card .media-left {
    width: 40%;
    text-align: center;
}

/*-------------------------------------------*/


/*ABOUT US PAGE*/

.about_us_section .col-sm-5 {
	text-align: center;
}
.about_us_section .row {
	padding: 15px;
}


@media screen and (min-width: 768px) {
	.reverse_these_columns {
		display: flex;
		flex-direction: row-reverse;
	}
	.about_us_section img {
		width: 100%;
	}
}
/*-------------------------------------------*/

/*SIGN IN PAGE*/
.buyer_seller_buttons {
	display: flex;
	justify-content: space-around;
    padding: 20px 0;
}

@media screen and (max-width: 550px) {
	.buyer_seller_buttons .btn-default {
		width: 100px;
		white-space: normal;
	}
}
/*-------------------------------------------*/


/*Individual Slab Page*/
.tab_content_border {
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    margin-top: -2px;
    border-bottom-right-radius: 5px;
}

.order_here_section .well {
	margin: 0px;	
}

.plus_minus_quantity {
	padding-bottom: 15px;

}
.plus_minus_quantity .input-group-btn {
	display: inline-flex;
	padding-left: 26px;
}
.plus_minus_quantity .form-control.input-number {
	float: none;
	width: 50px;
	text-align: center;
}
/*-------------------------------------------*/


/*Container Page*/
/*td {
	border: 1px solid #ccc;
}*/

.container_with_items .list-group {
    padding: 0;
    margin-bottom: 0px;

}

.container_with_items .list-group-item:nth-child(2) {
	height: 150px;
}

.container_with_items .list-group-item:nth-child(2) p {
	margin-bottom: 0px;
}
.container_total_of_slabs {
	display: flex;
	justify-content: space-around;
}

button.btn.btn-default.btn-number {
    width: 30px;
    height: 30px;
    padding: 0;
}

input.form-control.input-number {
    height: 30px;
    width: 30px;
    padding: 0;
    text-align: center;
}

.input-group-btn {
    display: inline-flex;
    width: 100%;
}
@media screen and (max-width: 600px) {
	.container_total_of_slabs {
		flex-direction: column;
		}
}
/*-------------------------------------------*/